body {
    font-family: Arial, Helvetica, sans-serif;
}

.homepage-horizontal-center {
    text-align: center;
}

#google-logo {
    margin-top: 130px;
    margin-bottom: 20px;
}

#search-input {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 50px;
    font: 16px arial, sans-serif;
    background: 23px/20px no-repeat url("../images/search-icon.svg");
    padding-left: 60px;
    padding-right: 10px;
}

#search-input:hover, #search-input:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
    border-color:rgba(223,225,229,0);
}

.search-button {
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 11px 16px;
    margin: 10px 4px;
    color: #5F6368;
    font: 14px Arial, sans-serif
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#navbar-div {
    margin: 20px 30px;
    display: flex;
    align-items: center;
}

#footer-div {
    padding: 14px 30px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar__link, .navbar__link:active, .navbar__link:visited{
    font-size: 13px;
    padding-left: 15px;
    color: #000;
    text-decoration: none;
}

.footer__link, .footer__link:active, .footer__link:visited {
    font-size: 13px;
    padding-left: 27px;
    color: #5f6368;
    text-decoration: none;
}

.navbar__link:hover, .footer__link:hover {
    text-decoration: underline;
}

/*Removes padding of first link set in .navbar__link and .footer__link*/
#navbar-div a:first-of-type, #footer-div a:first-of-type {
    padding-left: 0;
}

.navbar__link--rightAlign, .footer__link--rightAlign {
    /* Auto margin absorbs all available space in its dimension.
       On one item in set of flex items aligned to start, it creates a split.*/
    margin-left: auto;
    display: flex;
    align-items: center;
}

#google-apps-btn {
    opacity: .50;
}

#google-apps-btn:hover {
    opacity: 1;
}

#signin-btn {
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 2px;
    background: #4285f4;
    color: #fff;
    font-weight: bold;
}

#signin-btn:hover {
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#signin-btn:active {
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
    background: #3c78dc;
}